/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Aller Display";
  src: url("assets/fonts/AllerDisplay.ttf");
}

@font-face {
  font-family: "Aller Bold";
  src: url("assets/fonts/Aller_Bd.ttf");
}

.button{
  width: 153px;
  height: 44px;
  font-family: 'Aller Bold', sans-serif;
}

.background1{
  background-image: url(assets/images/background1.svg);
  background-size: cover;
  background-position: center;
  height: 74vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.background2{
  background-image: url(assets/images/background2.svg);
  background-size: cover;
  background-position: center;
  height: 60vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.background3{
  background-image: url(assets/images/background2.svg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.input_box{
  background-color: white;
  width: 345px;
  height: 45px;
  border-radius: 10px;
  margin-left: 32px;
}


