/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Aller Display";
  src: url("assets/fonts/AllerDisplay.ttf");
}

@font-face {
  font-family: "Aller Bold";
  src: url("assets/fonts/Aller_Bd.ttf");
}

.button{
  width: 153px;
  height: 44px;
  font-family: 'Aller Bold', sans-serif;

}

.first_button{
  --ion-color-primary: #443db8;
  filter: drop-shadow(0px 10px 10px rgba(92, 87, 199, 0.5));
}
.second_button{
  --ion-color-primary: #39A6FF;
  filter: drop-shadow(0px 10px 10px rgba(57, 166, 255, 0.5));
}

.third_button {
  --ion-color-primary: rgba(10, 3, 106, 0.51);

}

.confirm_button{
  --ion-color-primary: #39A6FF;
  filter: drop-shadow(0px 10px 10px rgba(57, 166, 255, 0.5));
}

.background1{
  background-image: url(assets/images/background1.svg);
  background-size: cover;
  background-position: center;
  height: 74vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.background2{
  background-image: url(assets/images/background2.svg);
  background-size: cover;
  background-position: center;
  height: 60vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.background3{
  background-image: url(assets/images/background2.svg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.background4{
  background-image: url(assets/images/background1.svg);
  background-size: cover;
  background-position: bottom;
  height: 65vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.background5{
  background-image: url(assets/images/background1.svg);
  background-size: cover;
  background-position: bottom;
  height: 62vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.background6{
  background-image: url(assets/images/background3.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.input_box{
  background-color: white;
  width: 345px;
  height: 45px;
  border-radius: 10px;
  margin-left: 32px;
}

.circle {
  width: 196px;
  height: 192px;
  border-radius: 50%;
  --border-width: 0;
  border: 10px solid white;
  margin-top: 301px;
  margin-left: 110px;
}

ion-toggle{
  zoom:0.7;
}

ion-toggle.toggle-checked::part(track) {
  background: #443db8;
}

ion-modal{
  --backdrop-opacity: 0;
  backdrop-filter: blur(2px);
  --border-radius:30px;
  --height: 90%;
  --width: 90%;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));
}

.ion-color.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios{
  border-radius: 50px;
  text-align: center;
}
ion-toolbar.ion-color.sc-ion-searchbar-ios-h .searchbar-search-icon.sc-ion-searchbar-ios, ion-toolbar.ion-color .sc-ion-searchbar-ios-h .searchbar-search-icon.sc-ion-searchbar-ios {
  color: #39A6FF;
  opacity: 0.6;
  scale: 1.4;
  margin-left: 3px;
}

ion-toast.custom-toast {
  --background: #f4f4fa;
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  --color: #4442bb;
    transform: translateY(-12%) !important;
  --width: 70%;
  --left: 50%;
}

ion-toast.custom-toast::part(message) {
  font-style: italic;
}

ion-toast.custom-toast::part(button) {
  border-left: 1px solid #d2d2d2;
  color: #58c2fe;
  font-size: 15px;
}
.error-message {
  position: fixed;
  z-index: 1;
  margin-left: 10%;
  margin-top: 2%;
  font-family: 'Aller Bold';
  font-size: 80%;
  color: #363636;
}
