
<ion-content scroll-y="false">
  <div>
  <div class="background6 ion-justify-content-center">
    <div style="position: absolute; display: flex ;top: 3% ; scale: 85%; margin-left: 7px">
      <img src="assets/images/trophy.png" >
      </div>
    <div style="position: absolute; display: flex ;top: 4% ; scale: 85%; margin-left: 53px">
      <img src="assets/images/crown.png" >

    </div>
    <div style="position: absolute; display: flex ;top: 4% ; scale: 85%; margin-left: 100px">
      <img src="assets/images/award.png" >
    </div>
    <div style="position: absolute; display: flex ;top: 9% ; scale: 90% ; margin-left: 8px">
      <img src="assets/images/opet.png" >
    </div>

    <ion-header *ngIf="facilityTitle" style="margin-top:38px;margin-left: 138px; color:white;font-size: 20px;"> {{ facilityTitle }} </ion-header>
    <ion-header style="margin-top:8px;margin-left: 137px; color:white;font-size: 15px;">Yayalar, 06740 Çamlıdere/Ankara </ion-header>
    <div>
      <form [formGroup]="form">
        <div class="cont">
          <div class="stars">
            <ngx-star-rating formControlName="rating2" [id]="'rating2'" [disabled] ="true"></ngx-star-rating>
          </div>
          <!--<div>Rating(Disabled): {{form.value.rating2}}</div>-->
        </div>
      </form>
    </div>
  </div>
  <div style="position: absolute; display: flex ; top: 17% ;transform: translateY(-50%); scale: 86%">
    <img src="assets/icon/toiletWhite.png" style="margin-left: 90% ; margin-top: 42%">
    <img src="assets/icon/disabledWhite.png" style="margin-left: 17%; margin-top: 43%">
    <img src="assets/icon/babycare.png" style="margin-left: 17%; margin-top: 44%">
    <img src="assets/icon/mosqueWhite.png" style="margin-left: 12% ; margin-top:  40%">
  </div>
  </div>

  <div class="scrollable-container" style="position: absolute; top: 46%; transform: translateY(-50%) ;overflow-y: scroll">
    <ion-list>
      <ion-item>
        <h2 style="font-size: 15px">Lavaboları temiz, market bölümü gayet çeşitliydi.</h2>
      </ion-item>
      <ion-item>
        <h2 style="font-size: 15px">Bu konumda yer alan Opet gerçekten çok temiz.</h2>
      </ion-item>
      <ion-item>
        <h2 style="font-size: 15px">İyiydi.</h2>
      </ion-item>
      <ion-item>
        <h2 style="font-size: 15px">Çalışanlar güler yüzlü ve tuvaletleri tertemiz.</h2>
      </ion-item>
      <ion-item>
        <h2 style="font-size: 15px">Hizmet kalitesi artmış.</h2>
      </ion-item>
      <ion-item>
        <h2 style="font-size: 15px">Genel olarak iyi.</h2>
      </ion-item>
      <ion-item>
        <h2 style="font-size: 15px">Temiz.</h2>
      </ion-item>
      <ion-item>
        <h2 style="font-size: 15px">Başarılı.</h2>
      </ion-item>
      <ion-item>
        <h2 style="font-size: 15px">Lavaboları gerçekten çok temizdi.</h2>
      </ion-item>
    </ion-list>
  </div>


  <div>
    <ion-button class="first_button" style="margin-left: 20px;" shape="round" (click)="cancel()">back</ion-button>
    <ion-button class="second_button" style="margin-left: 30px; " shape="round" (click)="onTriggerReviewClick()">rate now</ion-button>
  </div>
</ion-content>
