.profilepicture {
  position: fixed;
  width: 196px;
  height: 192px;
  object-fit: cover;
  border: 5px solid #102838;
  border-radius: 50%;
  margin-top: 226px;
  margin-left: 110px;
}

.othercontent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings-button {
  position:absolute;
  bottom: 370px;
  right: 100px;
  width: 50px;
  height: 50px;

}
