.profilepicture {
  position: fixed;
  width: 196px;
  height: 192px;
  object-fit: cover;
  border: 5px solid #102838;
  border-radius: 50%;
  margin-top: 301px;
  margin-left: 110px;
}

.othercontent {
  margin-top: 700px;
  position: relative;
}

.settings-button {
  position:absolute;
  bottom: 400px;
  right: 100px;
  width: 50px;
  height: 50px;
}
