<ion-content scroll-y="false">
  <div class="background6 ion-justify-content-center">
    <div style="text-align: center; color: white; font-family: 'Aller Display', sans-serif;">
      <p style="font-size: 25px; margin-bottom: 0px; margin-top: 30px;">write a review</p>
    </div>

    <div class="scrollable-container" style="position: relative; top: 23%; transform: translateY(-50%); overflow-y: scroll">
      <ion-list style="background-color: transparent; align-items: center">
        <ion-row>
          <ion-col size="12" *ngFor="let item of items">
            <ion-button class="commentButton" shape="round" (click)="setComment(item)">
              {{ item }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-list>
    </div>

    <ion-card class="commentCard">
      <ion-item style="--border-style: none; display: flex; justify-content: center; align-items: center;">
        <ion-icon src="assets/icon/comment.svg" name="comment" slot="start" style="font-size: 26px;"></ion-icon>
        <ion-textarea [(ngModel)]="comment" class="commentArea" style="color: rgb(126, 126, 127);"></ion-textarea>
        <p *ngIf="commentError && !comment" style="margin-left: 0%" class="error-message">You have not commented yet.</p>

      </ion-item>
    </ion-card>
    <div>
      <form [formGroup]="form">
        <div class="cont">
          <div class="stars">
            <ngx-star-rating formControlName="userRating" [id]="'rating3'" ></ngx-star-rating>
          </div>
          <!--<div>Rating(Disabled): {{form.value.rating2}}</div>-->
        </div>
      </form>
    </div>
    <div class="toilet" style="position: fixed; margin-top: 30px;">
      <img src="{{toilet}}" (click)="selectToilet();" style="margin-left: 10%">
      <img src="{{disabled}}" (click)="selectDisabled();" style="margin-left: 35%">
      <img src="{{babycare}}" (click)="selectBabycare();" style="margin-left: 55%">
      <img src="{{mosque}}" (click)="selectMosque();" style="margin-left: 75%">
    </div>
  </div>

  <div>
    <ion-button class="first_button" style="filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4)); margin-top: 640px; margin-left: 20px;" shape="round" (click)="cancel()" >cancel</ion-button>
    <ion-button class="second_button" style="filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4)); margin-top: 640px; margin-left: 30px; " shape="round" (click)="onTriggerSheetClick()">rate</ion-button>
  </div>
</ion-content>
