<ion-content fullscreen scroll-y="false">
  <ion-toolbar class="searchBar" slot="fixed" color="translucent" >
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" search-icon="search-circle"  color="light" placeholder="Search Facility"></ion-searchbar>
    <ion-list [hidden]="autocompleteItems.length == 0">
      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
        {{ item.description }}
      </ion-item>
    </ion-list>
    <ion-list *ngIf="nearbyItems.length > 0 && toggled">
      <ion-item *ngFor="let place of nearbyItems" tappable (click)="selectFacility(place); showDefaultBar();">
        <h2>{{place.name}}</h2>
        <p>{{place.vicinity}}</p>
        <p>Rating {{place.rating}}</p>
      </ion-item>
    </ion-list>
  </ion-toolbar>
<!--  <ion-toolbar class="searchBar" slot="fixed" color="translucent" >
    <ion-searchbar search-icon="search-circle"  color="light" placeholder="Search Facility"></ion-searchbar>
  </ion-toolbar>-->
  <div id='map'></div>


  <div>
    <ion-toolbar class="bottomMenu" slot="fixed" color="translucent">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div id="main-content" >
              <ion-fab-button style="margin-left: 30px" color="secondary">
                <ion-menu-button>
                  <ion-icon name="search"></ion-icon>
                </ion-menu-button>
              </ion-fab-button>
            </div>
          </ion-col>
          <ion-col>
            <ion-fab-button style="margin-left: 15px" color="secondary">
              <ion-icon style="margin-top: 3px; margin-right: 2px" name="navigate-outline"></ion-icon>
            </ion-fab-button>
          </ion-col>
          <ion-col>
            <ion-fab-button style="margin-right: 120px" color="secondary" (click)="goToProfileSetupPage()">
            </ion-fab-button>
            <div style="margin-top: -1rem; margin-left: 2.5rem; scale: 1.2">
              <ion-icon style="color: white" name="settings"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </div>
  <div>
    <ion-menu contentId="main-content">
      <ion-content class="filterMenu" scroll-y="false">
        <div class="toilet" style="position: fixed;" >
          <img src="{{toilet}}" (click)="selectToilet();" style="margin-left: 10%">
          <img src="{{disabled}}" (click)="selectDisabled();" style="margin-left: 35%">
          <img src="{{babycare}}" (click)="selectBabycare();" style="margin-left: 55%">
          <img src="{{mosque}}" (click)="selectMosque();" style="margin-left: 75%">
        </div>
        <div>
          <ion-button class="first_button" style="margin-left: 30px; margin-top: 110px; " shape="round" (click)="openEnd()">back</ion-button>
          <ion-button class="second_button" style="margin-left: 10px; margin-top: 110px;" shape="round">filter</ion-button>
        </div>
      </ion-content>
   </ion-menu>
  </div>
</ion-content>
